$font-size-basic: 14px;
$font-size-sm: 13px;
$font-size-lg: 28px;

$background-primary: #f7f7f7;
$background-green: #21c5b1;
$background-grey: #f0eee7;


$background-green-darker: #007f70;
$background-green-dark: #00bb9e;



$border-radius-primary: 2px;


$color-primary: #787878;
$color-white: #fff;
$color-green: $background-green;
$color-green-darker: $background-green-darker;
$color-primary-light: rgba(120,120,120,0.4);
